@CHARSET "UTF-8";
	
body{
	margin:0px;
	width:100%;
}
#header{
	border:solid 10px green;
}
#middle{
	width:1200px;
}
#menu{
	border:solid 10px yellow;
	float:left;
	width:200px;
}
#body{
	border:solid 10px black;
	float:left;
	height:500px;
	width:600px;
	padding:10px
}
#footer{
	border:solid 10px green;
	clear:both;
}
