<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:security="http://www.springframework.org/schema/security"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
		http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.2.xsd">
	
    <security:http auto-config="true">
        <security:intercept-url pattern="/index.jsp*" access="IS_AUTHENTICATED_ANONYMOUSLY"/>
        <security:intercept-url pattern="/board/**" access="ROLE_USER" />
    	<security:form-login
    		login-processing-url="/login" 
    		login-page="/index.jsp" 
    		default-target-url="/board/boardList"
			authentication-failure-url="/login-fail" />		
<!--     	<security:logout logout-success-url="/logout"/>     -->
		
		<!--중복 로그인 막는방법 -->
		<security:session-management><!-- 만약 에러페이지를 설정하고 싶다면, session-management 요소에 session-authentication-error-url 속성을 추가하면 된다. -->
			<security:concurrency-control max-sessions="1" error-if-maximum-exceeded="true" /><!-- 나중에 로그인 한 것을 막음  -->
<!-- 	 	<security:concurrency-control max-sessions="1" /> --><!-- 두번째 로그인 시 먼저 로그인한 것은 무효화  -->
    	</security:session-management>  
    </security:http> 
    
   <security:authentication-manager >    	    	
    	<security:authentication-provider user-service-ref="loginService" />    	    	
    </security:authentication-manager>
    
</beans>


